.Header {
 
  .navcontent {
    margin: 0 60px !important;
  }

  .navbar {
    background-color: white !important;
    z-index: 999;
    min-height: auto;
  }

  .navbar-brand {
    margin: 0 50px;
  }
}
