.Sign {
  height: 100vh ;
  background-color: #EFF3F7;
  display: flex;

  .left {
    background-color: #222;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: white;
      font-size: 46px;
    }
  }

  .right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .content {
      border-radius: 10px;
      padding: 30px;
      background-color: white;
      width: 700px;
    }
  }

  img {
    max-width: 500px;
    max-height: 500px;
  }

  .content {

  }
}