.Sidebar {
  section {
    background-color: #dddddd;
    width: 300px;
    height: calc(101vh -  48px);
    position: fixed;
    top: 48;

    .user {
      margin: 50px 30px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .euiAvatar--xl {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        padding-top: 10px;
        line-height: 64px;
        font-size: 30.6px;
        margin-bottom: 10px;
      }

      span.username {
        font-size: 22px;
      }

      span {
        font-size: 14px;
      }
    }

    ul {
      list-style: none;
      margin-left: 10px;
      display: flex;
      flex-direction: column;

      span {
        margin-left: 30px;
      }

      a {
        color: #000;
        padding: 10px;
        cursor: pointer;
      }


      a.active {
        background-color: #ababab;
        border-radius: 5px;
        width: 95%;
      }
    }
  }
}