@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

#root .App {
  height: 100%;
}

.App {
  body, input, button {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    font-size: 33px;
  }
}

* {
  box-sizing: border-box;
}

.modal {
  label {
    color: #4A5568;
    font-weight: 600;
  }
}