.HeaderComponent {
  .navcontent {
    margin: 0 60px !important;
  }

  .navbar {
    margin-top: 10px;
    background-color: white !important;
    border-top: none;
    border-bottom: none;
  }

  .navbar-brand {
    margin: 0 10%;
  }
}
